*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    /*color: rgb(101, 101, 101);*/
}
.header a{
    color: #0f0f0f;
}
.logo a{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
}
.logo-icon{
    background: linear-gradient(rgb(186,74,244), rgb(205, 79, 161));
    padding: 10px;
    border-radius: 50%;
}
.logo-tittle{
        font-weight: 450;
}
nav ul{
    display: flex;
    column-gap: 30px;
}
nav ul li a:hover{
    color: #b633db;
}
.header-top-button{
    display: flex;
    column-gap: 15px;
}
.header-top-button button{
    border: none;
    padding: 10px;
    background: transparent;
}
.header-top-button button:hover{
    background: lightgray;
    border-radius: 10%;
}
.header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
    color: #ffffff;
    background: linear-gradient(135deg,#9b19f6, #f5339c, #ff8331);
    row-gap: 20px;
}
.header-bottom h1{
    font-size: 60px;
    font-weight: 550;
    width: 770px;
    line-height: 60px;
    text-align: center;
}

.header-bottom p{
    font-size: 20px;
    width: 770px;
    text-align: center;
    font-weight: 400;
}
.header-bottom-btn button{
    border: none;
    background: white;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 13px;
    color: rgb(186,74,244);
    font-weight: 500;
}
#btn-hover{
    color: transparent;
}
#btn-hover:hover{
    background: transparent;
    outline: 1px solid white;
    color: #0f0f0f;
}
.advantages{
    display: flex;
    justify-content: center;
    padding: 65px 0;
}
.advantages article span{
    background: #f4e8ff;
    padding: 30px;
    border-radius: 50%;
    color: #0f0f0f;

}
